@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$color-grey-dark: #353535;
$color-grey-middle: #e5e5e5;
$color-grey-light: #f9f9f9;
$font-roboto: "Roboto", sans-serif;
$font-shrikhand: "Shrikhand", cursive;
$loader-duration: 3s;
$loader-thickness: 4px;
$loader-thickness1: 5px;
$loader-thickness2: 8px;
$loader-thickness3: 24px;

/* mixins */

@mixin flex-column-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* Loader */

.loader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99999;
  animation: loader $loader-duration forwards;
  font-family: $font-shrikhand;
  &--rotate-mix-shift {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: $loader-thickness solid transparent;
    border-top-color: $colortertiary;
    animation: spin 1s linear infinite;
    &:after {
      content: "";
      position: absolute;
      top: $loader-thickness2;
      bottom: $loader-thickness2;
      right: $loader-thickness2;
      left: $loader-thickness2;
      border-radius: 50px;
      border: $loader-thickness solid transparent;
      border-top-color: $colorsecondary;
      animation: spin 6s linear infinite;
    }
    &:before {
      content: "";
      position: absolute;
      top: $loader-thickness3;
      bottom: $loader-thickness3;
      right: $loader-thickness3;
      left: $loader-thickness3;
      border-radius: 50px;
      border: $loader-thickness solid transparent;
      border-top-color: $colorprimary;
      animation: spin 3s linear infinite;
    }
  }
}

/* keyframes */

@keyframes loader {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    // z-index: -1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation menu : apparition progressive des plats */

@keyframes slideInUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* roots */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 1400px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  outline: none;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

h1,
h2,
h3 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  //   font-size: unset;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey-dark;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  color: $color-grey-dark;
  &:focus {
    border: 0px;
  }
  // font-size: 1.5em;
}

/* logo */

.logo {
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  &--footer {
    font-family: $font-shrikhand;
    font-size: 18px;
    color: white;
    padding-top: 22px;
    padding-bottom: 15px;
  }
  &--back-arrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 89%;
    height: 60px;
    max-width: 1246px;
    margin-left: auto;
    margin-right: auto;
    > div > i {
      margin-right: 65px;
    }
  }
}

/* Haut de la Page d accueil */
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background: $color-grey-middle;
  box-shadow: inset 0 7px 9px -9px grey;
  > span {
    flex-flow: row wrap;
    justify-content: center;
    > i {
      width: 18px;
    }
    > input {
      font-family: $font-roboto;
      background-color: $color-grey-middle;
      font-size: 16px;
      color: black;
      font-weight: 900;
      width: 150px;
      padding-left: 10px;
      border: 0px;
      text-overflow: ellipsis;
      &:focus {
        border: 0px;
      }
    }
  }
}

/* Extension - silent class */
.color-shape-button {
  @include flex-column-center;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to left top, #9c59dc 0%, #ee74da 99.72%);
  box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/* Button */

.btn {
  &--exploration {
    @extend .color-shape-button;
    width: 220px;
    height: 50px;
    &:hover {
      opacity: 0.8;
      box-shadow: 2px 8px 8px 0px black;
    }
  }

  &--text {
    color: white;
    font-family: $font-roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.8px;
  }

  &__order {
    @extend .color-shape-button;
    width: 186px;
    height: 50px;
    > span.text {
      color: white;
      font-family: $font-roboto;
    }
    &:hover {
      opacity: 0.8;
      box-shadow: 2px 8px 8px 0px black;
    }
  }
}

/* Section */

.section {
  @include flex-column-center;
  width: 100%;

  /* Section exploration */

  &__heading {
    @include flex-column-center;
    height: 290px;
    background-color: $color-grey-light;
    &__exploration {
      @include flex-column-center;
      text-align: center;
      width: 81%;
      height: 100%;
      > div > h3:nth-child(3) {
        margin-bottom: 30px;
      }
    }
    div h2 {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 12px;
    }
  }

  /* Section "working" */

  &__working {
    @include flex-column-center;
    height: 440px;
    width: 100%;

    nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 86.66%;
      margin-left: auto;
      margin-right: auto;
      h2 {
        margin-left: 10px;
      }

      /* Insert/working */
      > .insert {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 72px;
        border: 0;
        background-color: $color-grey-light;
        margin-top: 35px;
        margin-left: 20px;
        margin-right: auto;
        border-radius: 20px;
        box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.15);
        padding: 0;
        > i {
          color: grey;
          margin-left: 22px;
          margin-right: 25px;
          font-size: 18px;
        }
        > span.insert--text {
          font-family: $font-roboto;
        }
        > span.number-bullet {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          width: 24px;
          height: 24px;
          border-radius: 20px;
          text-align: center;
          background-color: #9c59dc;
          color: white;
          margin: 0;
          margin-left: -12px;
          font-family: $font-roboto;
          font-size: 13px;
        }
      }
    }
  }

  /* Section "restaurants" */

  &__restaurants {
    @include flex-column-center;
    width: 100%;
    height: auto;
    background-color: $color-grey-light;
    nav {
      @include flex-column-center;
      width: 89%;
      height: auto;
      padding-bottom: 45px;
      margin-left: auto;
      margin-right: auto;
      > div.section__restaurants--title {
        display: flex;
        justify-content: center;
        width: 100%;
        > div {
          display: flex;
          justify-content: flex-start;
          width: 89%;
          padding: 55px 0 25px 0;
        }
      }
      & > div.restaurant-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 89%;
        height: 260px;
        position: relative;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 20px;
        filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.15));
        & > a {
          width: 100%;
          > img {
            width: 100%;
            height: 174px;
            flex: 0 0 auto;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
          }
          & > span.new {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 23%;
            height: 12%;
            background-color: $colortertiary;
            color: #158766;
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: center;
            border-radius: 2px;
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: bold;
          }
          & > div.restaurant-info {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding-left: 15px;
            padding-top: 20px;
            font-family: $font-roboto;
            & > div.restaurant-info--naming {
              display: flex;
              flex-flow: column wrap;
              justify-content: flex-start;
              width: 50%;
              > .text--restoname {
                font-family: $font-roboto;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              > .text--restolocation {
                font-family: $font-roboto;
                font-weight: lighter;
              }
            }
            & > div.heart {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.5em;
              padding: 0 25px 0 0;
              width: 20px;
              height: 20px;
              > i.fa-heart {
                cursor: pointer;
                &:hover {
                  background: -webkit-linear-gradient(
                    #9c59dc 0%,
                    #ee74da 99.72%
                  );
                  background-clip: text;
                  -webkit-background-clip: text;
                  color: transparent;
                  font-weight: 900;
                  transition: ease 1s;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Section Footer */

  &__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 89%;
    max-width: 1245px;
    color: white;
    &--index {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      width: 89%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      > a {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        font-family: $font-roboto;
        color: white;
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
        > span > i {
          font-size: 12px;
          margin-right: 12px;
        }
      }
    }
    &--page-restaurant {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      > a {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        font-family: $font-roboto;
        color: white;
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
        > span > i {
          font-size: 12px;
          margin-right: 12px;
        }
      }
    }
  }

  /* Page restaurant */

  &__menu {
    @include flex-column-center;
    width: 100%;
    height: auto;
    background-color: $color-grey-light;
    &__restaurant {
      @include flex-column-center;
      width: 100vw;
      max-width: 1400px;
      &--image {
        @include flex-column-center;
        width: 100%;
        > img {
          width: 100%;
          height: auto;
        }
      }
    }

    &__container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: -50px;
      border-radius: 40px 40px 0 0;
      background-color: $color-grey-light;
      &__heading {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
        padding-top: 40px;
        > i.fa-heart {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 15px;

          &:hover {
            background: -webkit-linear-gradient(#9c59dc 0%, #ee74da 99.72%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 900;
            transition: ease 1s;
          }
        }
      }

      &__dishes-choice {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 94%;
        > h3 {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding-left: 5px;
          padding-top: 45px;
        }
        > div.green-dash {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding-left: 5px;
          > div {
            width: 40px;
            height: 3px;
            background-color: $colortertiary;
            margin-top: 5px;
          }
        }

        &__dish-cartridge {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          width: 100%;
          min-height: 68px;
          background-color: white;
          border-radius: 20px;
          margin-top: 14px;
          box-shadow: 3px -4px 39px -7px rgba(59, 59, 59, 0.43);
          cursor: pointer;
          /* Animation menu : apparition progressive des plats */
          transform: translateY(100%);
          opacity: 0;
          animation: slideInUp 1s forwards;
          @for $i from 3 through 100 {
            &:nth-child(#{$i}) {
              animation-delay: #{($i - 3) * 0.3}s;
            }
          }

          > div:nth-child(1) {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            margin: 12px 0 12px 11px;
            // f
            flex: 1 1;
            margin-right: 20px;
            text-overflow: ellipsis;
            max-width: 100%;
            min-width: 0;

            > h3 {
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }

            > div.dish-subtitle {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              padding-top: 5px;
              flex-grow: 1;
              flex-shrink: 1;
              max-width: 100%;
              h4:nth-child(1) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-right: 10px;
              }
              > h4.price {
                font-weight: 500;
              }
            }
          }
          > .green-choice {
            display: flex;
            float: right;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            vertical-align: baseline;
            width: 0px;
            height: 0px;
            overflow: hidden;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            color: white;
            background-color: $colortertiary;
            font-size: 25px;
            cursor: pointer;
            transition: width 330ms linear;
            > i {
              transform: rotate(0deg);
              transition: transform 330ms linear;
              display: block;
            }
          }
          &:hover > .green-choice {
            width: 70px;
            height: auto;
            > i {
              transform: rotate(360deg);
            }
          }
        }
      }
      &__order {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 83px;
      }
    }
  }
}
