@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
/* mixins */
/* Loader */
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: baseline;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99999;
  -webkit-animation: loader 3s forwards;
          animation: loader 3s forwards;
  font-family: "Shrikhand", cursive;
}

.loader--rotate-mix-shift {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader--rotate-mix-shift:after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  left: 8px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

.loader--rotate-mix-shift:before {
  content: "";
  position: absolute;
  top: 24px;
  bottom: 24px;
  right: 24px;
  left: 24px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

/* roots */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 1400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  outline: none;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

h1,
h2,
h3 {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-input-placeholder {
  color: #353535;
}

:-ms-input-placeholder {
  color: #353535;
}

::-ms-input-placeholder {
  color: #353535;
}

::placeholder {
  color: #353535;
}

::-webkit-input-placeholder:focus {
  border: 0px;
}

:-ms-input-placeholder:focus {
  border: 0px;
}

::-ms-input-placeholder:focus {
  border: 0px;
}

::placeholder:focus {
  border: 0px;
}

/* logo */
.logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--footer {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
  padding-top: 22px;
  padding-bottom: 15px;
}

.logo--back-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89%;
  height: 60px;
  max-width: 1246px;
  margin-left: auto;
  margin-right: auto;
}

.logo--back-arrow > div > i {
  margin-right: 65px;
}

/* Haut de la Page d accueil */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #e5e5e5;
  -webkit-box-shadow: inset 0 7px 9px -9px grey;
          box-shadow: inset 0 7px 9px -9px grey;
}

.location > span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location > span > i {
  width: 18px;
}

.location > span > input {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  font-size: 16px;
  color: black;
  font-weight: 900;
  width: 150px;
  padding-left: 10px;
  border: 0px;
  text-overflow: ellipsis;
}

.location > span > input:focus {
  border: 0px;
}

/* Extension - silent class */
.color-shape-button, .btn--exploration, .btn__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9c59dc), color-stop(99.72%, #ee74da));
  background: linear-gradient(to left top, #9c59dc 0%, #ee74da 99.72%);
  -webkit-box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/* Button */
.btn--exploration {
  width: 220px;
  height: 50px;
}

.btn--exploration:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2px 8px 8px 0px black;
          box-shadow: 2px 8px 8px 0px black;
}

.btn--text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.btn__order {
  width: 186px;
  height: 50px;
}

.btn__order > span.text {
  color: white;
  font-family: "Roboto", sans-serif;
}

.btn__order:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2px 8px 8px 0px black;
          box-shadow: 2px 8px 8px 0px black;
}
/*# sourceMappingURL=main.css.map */